---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">
  <header>
    <nav class="site-nav">
      <ul>
        <li><a href="{{ site.baseurl }}/">{{ site.title }}</a></li>
        {% for page in site.pages %} 
          <li><a href="{{ page.url | relative_url }}">{{ page.title }}</a></li>
        {% endfor %}
      </ul>
  </header>

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>
  {%- if page.comments -%}
    {%- include utterances.html -%}
  {%- endif -%}
  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
