---
layout: default
---
<h1>{{page.title}}</h1>
<br>

<style type="text/css">
  .tg  {border-collapse:collapse;border-spacing:0;}
  .tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
    overflow:hidden;padding:10px 5px;word-break:normal;}
  .tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
    font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
  .tg .tg-fu3y{background-color:#b5d3fd;border-color:inherit;font-style:italic;font-weight:bold;text-align:center;vertical-align:top}
  .tg .tg-0pky{border-color:inherit;text-align:left;vertical-align:top}
  </style>
  <table class="tg">
  <thead>
    <tr>
      <th class="tg-fu3y">Week 1</th>
      <th class="tg-fu3y">Hacks Plan</th>
      <th class="tg-fu3y">Tangibles</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="tg-0pky">Mon 8/21</td>
      <td class="tg-0pky">-Fix live server<br>-Finish installations<br>-Binary Calculator</td>
      <td class="tg-0pky"><a href='https://tanishapatil1234.github.io/labnb/csse.html'>hack</a></td>
    </tr>
    <tr>
      <td class="tg-0pky">Tue 8/22</td>
      <td class="tg-0pky">- Finalize theme<br>- Customize site <br> -Facetime tonight to discuss my themes issues and Sreeja's issues with connecting pages to buttons on her nav bar. </td>
      <td class="tg-0pky"><a href='https://github.com/tanishapatil1234/labnb/issues/1'>hack </a></td>
    </tr>
    <tr>
      <td class="tg-0pky">Wed 8/23</td>
      <td class="tg-0pky">- Live Review</td>
      <td class="tg-0pky"></td>
    </tr>
    <tr>
      <td class="tg-0pky">Thu 8/24</td>
      <td class="tg-0pky">TBD</td>
      <td class="tg-0pky"></td>
    </tr>
    <tr>
      <td class="tg-0pky">Fri 8/25</td>
      <td class="tg-0pky">TBD</td>
      <td class="tg-0pky"></td>
    </tr>
  </tbody>
  </table>

  <br>

  <table class="tg">
    <thead>
      <tr>
        <th class="tg-fu3y">Week 2</th>
        <th class="tg-fu3y">Hacks Plan</th>
        <th class="tg-fu3y">Tangibles</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="tg-0pky">Mon 8/28</td>
        <td class="tg-0pky">TBD<br></td>
        <td class="tg-0pky"></td>
      </tr>
      <tr>
        <td class="tg-0pky">Tue 8/29</td>
        <td class="tg-0pky">- TBD<br>- </td>
        <td class="tg-0pky"></td>
      </tr>
      <tr>
        <td class="tg-0pky">Wed 8/30</td>
        <td class="tg-0pky">- TBD</td>
        <td class="tg-0pky"></td>
      </tr>
      <tr>
        <td class="tg-0pky">Thu 8/31</td>
        <td class="tg-0pky">TBD</td>
        <td class="tg-0pky"></td>
      </tr>
      <tr>
        <td class="tg-0pky">Fri 9/1</td>
        <td class="tg-0pky">TBD</td>
        <td class="tg-0pky"></td>
      </tr>
    </tbody>
    </table>

    <br>

    <table class="tg">
      <thead>
        <tr>
          <th class="tg-fu3y">Week 3</th>
          <th class="tg-fu3y">Hacks Plan</th>
          <th class="tg-fu3y">Tangibles</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="tg-0pky">Mon 9/4</td>
          <td class="tg-0pky">TBD<br></td>
          <td class="tg-0pky"></td>
        </tr>
        <tr>
          <td class="tg-0pky">Tue 9/5</td>
          <td class="tg-0pky">- TBD<br>- </td>
          <td class="tg-0pky"></td>
        </tr>
        <tr>
          <td class="tg-0pky">Wed 9/6</td>
          <td class="tg-0pky">- TBD</td>
          <td class="tg-0pky"></td>
        </tr>
        <tr>
          <td class="tg-0pky">Thu 9/7</td>
          <td class="tg-0pky">TBD</td>
          <td class="tg-0pky"></td>
        </tr>
        <tr>
          <td class="tg-0pky">Fri 9/8</td>
          <td class="tg-0pky">TBD</td>
          <td class="tg-0pky"></td>
        </tr>
      </tbody>
      </table>